body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 0px;
}
#page {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 1vh 1vw 1vh 1vw;
}
#links {
    display: flex;
    gap: 4px;
}
.row {
    display: flex;
    gap: 4px;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prompt {
    display: none;
}
.promptOpen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 10% 10% 10% 10%;
    border-radius: 12px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 12px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.popuptext {
    text-align: center;
}
.header {
    color: #fff
}
#content {
    display: flex;
    flex-direction: column;
    align-items: start;
}
#tabs {
    display: flex;
    gap: 4px;
}
.tab {
    color: #ffffff;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 0.5vh 0.5vw 0.5vh 0.5vw;
cursor: pointer;
}
.tabon {
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
cursor: not-allowed;
}
#break {
    min-width: 100%;
}
.badge {
        color: #ffffff;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}